.nav {
  width: 100%;
  height: 80px; 
  padding: 0 8%;
  background: #0b0014;
  color: white;
  
  display: flex;
  align-items: center;        
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 40px;                 
  list-style: none;
  align-items: center;       
}

.nav-links li {
  height: 80px;              
  display: flex;
  align-items: center;        
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #ffb4ff;
}
